body
{
	border: 1px solid blue;
	font-family: arial;
	font-style: 1em; /*16px*/
	max-width: 1024px; /*Ancho de la pantalla*/
	margin: 0px auto; /*Centrar la pantalla*/
}

form
{
	float: right;
	margin: -40px 20px 0px 0px;
}

form input[type="button"]
{
	background: green;
	border: 0px;
	color: white;
}

header
{
	background: #B3D8EB; /*Color de fondo*/
}

header nav
{
	background: #0E6CB0;
	border-radius: 5px;
	margin: 0px auto;
	width: 98%;
	padding: 2px 0px 2px 0px;
}

header nav ul li
{
	color: white;
	display: inline-block;
	margin: 0px 20px 0px 0px;
}

#logo
{
	float: left;
	margin: -130px 0px 0px 0px;
}

main #seccion01 article
{
	text-align: center; /*Centrar el contenido del article, en este caso la imagen*/
}

main #seccion01 article img
{
	margin: 15px 0px 0px 0px;
	border: 5px solid rgba(150, 150, 150, 0.1) /*Borde con transparencia*/
}

main #seccion02 article
{
	display: inline-block;
	vertical-align: top;
	width: 32.5%;
}

main #seccion02
{
	margin: 0px auto; /*Alinear la caja*/
}

.unaSeccion, .otraSeccion /*Dos o más selectores*/
{
	font-family: arial;
	font-weight: bold;
}

.unaSeccion
{
	font-size: 4.5em;
}

.otraSeccion
{
	font-size: 2.5em;
}

