body
{
	/*border: 1px solid red;*/
	font-family: arial;
	font-size: 16px;
	margin: 0px auto;
	max-width: 1024px;
}

header nav
{
	background: #F6661D;
	border-radius: 8px;
	margin: 0px auto;
	padding: 2px 0px;
	width: 98%;
}

header nav ul li
{
	color: #FEFEFE;
	display: inline-block;
	font-weight: bold;
	margin-right: 15px;
}

section
{
	display: inline-block;
}

/*section article
{
	border: 1px solid black;
}*/

#primeraseccion
{
	/*border: 1px solid black;*/
	margin-left: 20px;
	margin-top: 10px;
	width: 616px;
}

#seccion01art01, #seccion01art02
{
	border-bottom: 1px solid gray;
} 

#seccion01art02 article
{
	display: inline-block;
}

#seccion01art02 input
{
	background: rgba(100, 100, 100, 0.5);
	border-radius: 5px;
	border: 0px;
	color: white;
	font-style: italic;
	font-weight: bold;
	height: 30px;
	width: 80px;
}

#segundaseccion
{
	/*border: 1px solid black;*/
	vertical-align: top;
	margin-left: 20px;
	margin-top: 50px;
	width: 33%;
}

#segundaseccion article
{
	background: #FAF8F1;
	border-radius: 5px;
	border: 1px solid gray;
	margin-bottom: 25px;
}

#segundaseccion article ul
{
	padding-right: 35px; /*Separar los bordes punteados de la derecha*/
	padding-left: 20px;
	list-style: none;
}

#segundaseccion article ul li:before
{
	content: " • ";
	color: black;
}

#segundaseccion article ul li
{
	border-bottom-style: dotted; /*Borde punteado*/
	border-color: gray;
	border-width: 1px;
	color: gray;
	font-weight: bold;
	margin-bottom: 15px; /*Separar los <li>*/
}

#segundaseccion article form 
{
	border-radius: 20px;
	border: 1px solid gray;
	width: 80%; /*Hacer más pequeño el buscador*/
	margin: 0px auto; /*Centrar el buscador*/
}

#segundaseccion article form input
{
	border-radius: 20px;
	border: 1px solid gray;
	margin: 5px 5px;
	padding: 5px 5px;
}

#segundaseccion article form input[type="button"]
{
	background: #D4D2CC;
	color: white;
	font-weight: bold;
}

#logo
{
	margin-left: 20px;
	margin-top: 10px;
}

#redes
{
	float: right;
	margin-right: 30px;
	margin-top: -60px;
}

#mitema
{
	/*Aplicar efecto al título de la página*/
	-moz-text-stroke: 1px gray;
	-ms-text-stroke: 1px gray;
	-webkit-text-stroke: 1px gray;
	margin-left: 30px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

#titulopost
{
	color: gray;
	font-size: 25px;
	font-weight: bold;
}

.infopost
{
	background: #FAF8F1;
	border-radius: 15px;
	border: 1px solid gray;
	font-size: 12px;
	padding: 15px 0px;
	padding-right: 188px;
}

#imagen
{
	border: 5px solid gray;
}

#artimg
{
	width: 28%;
	margin-right: 5px;
}

#arttexto
{
	padding-top: 13px;
	width: 65%;
}

#artimg, #arttexto
{
	vertical-align: top;
}

.centrar
{
	text-align: center;
}

.resaltar
{
	color: gray;
	font-style: italic;
	font-weight: bold;
}

.barra
{
	padding: 10px 38%; /*Ancho para del título "Publicidad" y "Categorías"*/
}

.barra2
{
	padding: 10px 39%; /*Ancho del título "Buscador"*/	
}

.barra,.barra2
{
	background: #F6661D;
	border-radius: 10px;
	color: #FEFEFE;
	font-weight: bold;
}

