body
{
	font-family: arial;
	max-width: 1024px;
	font-size: 16px;
	margin: 0px auto;
	border: 1px solid red;
}

header
{
	height: 210px;
}

header nav ul
{
	padding-left: 20px;
}

header nav ul li
{
	display: inline-block;
	margin-right: 30px;
	font-weight: bold;	
}

footer
{
	margin-left: 10px;
}

footer section
{
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
}

#logo
{
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 30px;
}

#paises
{
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

#gotoshop, #buy
{
	position: relative;
}

#gotoshop
{
	top: -120px;
	left: 700px;	
}

#buy
{
	top: -60px;
	left: 400px;	
}

#seccion01, #seccion02, #seccion03 article
{
	display: inline-block;
}

#seccion01, #seccion02
{
	margin-top: -40px;
	vertical-align: top;
}

#seccion01
{
	width: 55%;
	padding-left: 10px;
	margin-right: 10px;
}

#seccion02
{
	width: 35%;
	height: 200px;
}

#seccion03
{
	margin-top: 50px;
	margin-left: 10px;
	margin-bottom: 40px;
}

#secc03art01
{
	width: 18%;
}

#secc03art02
{
 	width: 77%;
}

#firstsenseof
{
	font-weight: bold;
	font-size: 3.5em;
}

#balance
{
	color: #78F04C;
	font-weight: bold;
	font-size: 3.5em;
}

#video01, #video02
{
	display: inline-block;
}

#video01
{
	width: 48%;
}

#video02
{
	margin-right: 10px;
	width: 48%;
}

#video01 img
{
	width: 100%
}

#video02 img
{
	width: 100%;
}

#bike
{
	width: 86%;
}

#fiveyears
{
	width: 28%;
}

#separar
{
	margin-left: 10px;
	border-color: gray;
	border-width: 3px;
}

.estiloletra
{
	color: #8E8E8E;
}