body
{
	font-size: 16px;
	max-width: 1078px; /*Por decisión de la empresa*/
	min-width: 1078px;
	margin: 0px auto; /*Centrar*/
	/*border: 1px solid black;*/
}

header input
{
	float: right;
	margin-right: -180px;
	margin-top: 15px;
	position: relative; /*Para sobreponer el input en la imagen*/
}

header nav
{
	margin-left: 220px;
}

header nav ul li
{
	border-bottom: 1px solid gray;
	display: inline-block;
	color: gray;
	font-size: 1.8em;
	margin-right: 15px;
}

footer
{
	height: 130px;
	background: #516EAC;
}

footer section
{
	display: inline-block;
}

#facebook
{
	left: 800px;
	position: relative;
	top: -170px;
}

#twitter
{
	left: 810px;
	top: -170px;
	position: relative;
}

#imagen
{
	left: 820px;
	top: -190px;
	position: relative;
}

#bgoffer
{
	position: relative; /*Para que se mueva dentro de su caja (section)*/
	top: -410px;
	left: -35px;
}

#granthams /*Logo de la empresa*/
{
	margin-top: 20px;
	margin-left: 25px;
}

#listadecorreo
{
	padding-top: 50px;
	padding-left: 20px;
}

#listadecorreo input[type="text"]
{
	width: 60%;
	height: 20px;
	border-radius: 3px;
	border: 1px solid gray;
}

#listadecorreo input[type="button"]
{
	height: 26px;
	color: white;
	font-weight: bold;
	background: #54CC14;
	border: 1px solid gray;
	border-radius: 3px;
}

#paint
{
	float: right;
	margin-top: 20px
}

#primerseccion
{
	margin-top: 75px;
	height: 317.9px;
}

#primerseccion article
{
	display: inline-block;
	vertical-align: top;
	margin-left: 25px;
}

#segundaseccion article
{
	text-align: right;
	margin-right: 160px;
	margin-top: 20px;
}

#terceraseccion article
{
	display: inline-block;
	width: 22%;
	vertical-align: top;
}

#terceraseccion article img
{
	vertical-align: middle;
}

#secc01art01
{
	width: 60%;
}

#secc01art02
{
	width: 30%;
}

#secc01art02 ul
{
	list-style: none;
}

#secc01art02 ul li
{
	padding-bottom: 5px;
}

#secc01art02 ul li:before
{
	content: " • ";
	color: #FF0099;
}

#footersection01, #footersection02, #footersection03
{
	color: white;
	font-size: 14px;
}  

#footersection01
{
	width: 40%;
}

#footersection03 article span
{
	border-radius: 20px;
	border: 1px solid white;
	padding: 5px 5px;
}

#footersection01 article	
{
	margin-top: 30px;
	margin-left: 20px;
}

#footersection02
{
	text-align: center;
	width: 40%;
}

#footersection03
{
	width: 17%;
}

.colorrosa
{
	color: #F4A3C6;
}

.colorverde
{
	color: #A6DE47;
}

.colorazul
{
	color: #16BEF8;
}

.colorazul,.colorrosa,.colorverde
{
	font-size: 1.5em;
	font-weight: bold;
}

.numerotelefono
{
	color: #FF0099;
	font-size: 2em;
	font-weight: bold;

}

.wecanoffer
{
	color: #FF0099;
	font-size: 3.5em;
	font-weight: bold;
}